<h1>Register</h1>
<a href="/api/auth/login">Log in</a>
<a href="/api">Home</a>
<form action="/api/auth/register" method="POST">
    <input type="text" name="firstname" placeholder="Ismingizni kiriting">
    <br /><br />
    <input type="text" name="lastname" placeholder="Familiyangizni kiriting">
    <br /><br />
    <input type="text" name="email" placeholder="Email kiriting">
    <br /><br />
    <input type="password" name="password" placeholder="Parol kiriting">
    <br /><br />
    <button>Register</button>
</form>