<hr>
<h2>Men bilan bog'lanish uchun.</h2>
<p>Telefon: <a href="tel:+998777028065">+998 77 702 80 65</a></p>
<p>Email: <a href="mailto:zoitovfirdavs3@gmail.com">zoitovfirdavs3@gmail.com</a></p>
<p>Telegram: <a href="https://t.me/zoitov_dev">@zoitov_dev</a></p>
